<%layout("layouts/boilerplate.ejs");%>
<body>
  <div class="container p-4 pb-0 border border-black border-3 rounded-5">
    <h1 class="z_index text-start"><%= student.name %></h1>
    <hr />
    <ol class="z_index">
      <% for( let subject of student.subject) { %>
      <li>
        <div
          class="mb-1 drop_down_head text-decoration-underline fst-italic text-primary-emphasis"
        >
          <%= subject.name %>
        </div>

        <div
          class="ms-0 border border-black border-2 rounded-2"
          style="width: 100%"
        >
          <div class="color_bar text-center m-0 rounded-1 container">
            <%=((subject.attend_days * 100.0) /
            subject.totalDays).toString().slice(0, 5)%>%
          </div>
        </div>

        <div class="drop_down_item">
          <div class="d-flex flex-column">
            <div>
              <form
                action="/sent/<%=student._id%>/present/<%=subject._id%>"
                method="POST"
              >
                <button class="btn btn-primary p-1 button_present">
                  Attended
                </button>
              </form>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <form
                action="/sent/<%=student._id%>/absent/<%=subject._id%>"
                method="POST"
              >
                <button class="btn btn-primary p-1 button_absent">
                  Missed
                </button>
              </form>
            </div>

            <hr />
            <div>Total Lectures = <%=subject.totalDays%></div>
            <div>Lectures Attended = <%=subject.attend_days%></div>
            <% if (subject.canBeAbsent) { %>
            <div class="text-success">
              You can take <%=subject.lectures%> leaves
            </div>
            <% } else{ %>
            <div class="text-danger">
              You have to attend <%=subject.lectures%> upcoming Lectures
            </div>
            <% } %>
          </div>
        </div>
      </li>
      <% } %>
    </ol>
    <div class="text-center mb-3">
      <form method="get" action="/logout">
        <button class="btn btn-warning">Logout</button>
      </form>
    </div>
  </div>
</body>
